

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1500px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-bg h1 {
        font-size: 67px;
    }
    ul.easy li a {
        font-size: 21px;
    }
    ul.social_icon li a {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-bg h1 {
        padding-top: 0px;
        font-size: 51px;
        line-height: 70px;
    }
    ul.Menu_footer {
        padding-bottom: 30px;
    }
    ul.easy li a {
        font-size: 17px;
        padding: 18px 11px;
    }
    ul.location_icon li {
        padding-bottom: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header {
        padding: 15px 30px 10px 30px;
    }
    .about_img {
        padding-bottom: 20px;
    }
    ul.btn li {
        padding: 0 18px;
    }
    .text-bg {
        max-width: inherit;
        padding-top: 60px;
    }
    .padding_left0 {
        padding-left: 15px;
    }
    .padding_right0 {
        padding-right: 15px;
    }
    .main_form .send_btn {
        margin-bottom: 30px;
    }
    ul.location_icon li {
        padding-bottom: 20px;
    }
    .work_img {
        padding-right: 0;
        padding-top: 30px;
    }
}

@media (min-width: 992px){
.noti-content {
    max-width: 960px;
}
}


@media (min-width: 594px){
    .footer {
        background-image: linear-gradient(to bottom, #575757 0, #575757 68%,  #535353 30%);    
   }

   .footer .address li  {
    font-family: 'Clear Sans', arial;
    text-align: justify;
    color: #303030;
    font-size: 17px;
    margin-top: -1px;
 
   }
}

@media (min-width: 994px){
    .footer {
        background-image: linear-gradient(to bottom, #575757 0, #575757 45%,  #535353 30%);    
    }
    .footer .address li  {
    font-family: 'Clear Sans', arial;
    text-align: justify;
    color: #303030;
    font-size: 17px;
    margin-top: -50px;
     
    }
}


@media (max-width: 1498px){
    ul.btn input{ 
    border: 0;
    margin-right: -10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    outline: none;
    min-width: 300px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    }
}

@media (max-width: 1155px){
    ul.btn input{ 
    margin-top: 60px;
    
    }
}

@media (min-width: 980px){
    input{ 
    margin-right:400px;
    
    }
}

@media (min-width: 950px){
   ul.btn input{ 
    padding-right:-300px;
    
    }
}


@media (max-width: 575px) {
    .header {
        padding: 30px 0px 15px 0px;
    }
    .header::after {
        background: inherit;
        position: inherit;
    }
    .logo {
        text-align: center !important;
        padding-bottom: 6px;
        text-align: center;
    }
    .titlepage h2 {
        font-size: 37px;
    }
    .images_box {
        padding-top: 20px;
    }
    .down_btn a {
        padding: 7px 16px;
    }
    ul.btn li {
        padding: 0px 7px;
    }
    #sidebarCollapse {
        padding-right: 8px;
    }
    .banner_main {
        padding: 0px 0 90px 0;
    }
    .text-bg h1 {
        font-size: 44px;
        line-height: 64px;
        padding-bottom: 40px;
        padding-left: 10px;
    }
    .about_img {
        padding-bottom: 20px;
    }
    .padding_left0 {
        padding-left: 15px;
    }
    .padding_right0 {
        padding-right: 15px;
    }
    .work_img {
        padding-right: 0;
        padding-top: 30px;
    }
    .main_form .send_btn {
        margin-bottom: 30px;
    }
    ul.location_icon li {
        padding-bottom: 20px;
    }
    ul.Menu_footer,
    ul.social_icon {
        padding-bottom: 20px;
    }
}

